{% extends 'front_end/base.html' %}

{% block content %}
    <form method="post" action="{% url 'submit_text' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="card">
                <label for="upper_width" class="form-control">Upper Case Width</label>
                <input type="number" min="0" name="upper_width" value="32" id="upper_width" class="form-control">
                <label for="upper_height">Upper Case Height</label>
                <input type="number" min="0" name="upper_height" value="60" id="upper_height" class="form-control">
                <label for="lower_height">Lower Case Height</label>
                <input type="number" min="0" name="lower_height" value="40" id="lower_height" class="form-control">
                <label for="lower_width">Lower Case Width</label>
                <input type="number" min="0" name="lower_width" value="32" id="lower_width" class="form-control">
                <label for="distance">Distance</label>
                <input type="number"  name="distance" value="0" id="distance" class="form-control">
            </div>
            <hr>
            <label for="text_input">Text:</label>
            <input type="text" name="letters" class="form-control" id="text-input">

            <button>Submit</button>
        </div>


    </form>
{% endblock %}