{% extends 'front_end/base.html' %}
{% load static %}

{% block content %}
    <div class="row mt-5">
        {% for letter, upper in letters %}
            {% if letter == "space" %}
                <div class="ml-2 mr-2"></div>
            {% else %}
                <div class="coly" style="letter-spacing: {{letter_spacing}}px">
                    <div class="letter-container">
                        <img src="{{ letter }}" 
                             style="width: {{ upper|yesno:"upper_width,lower_width" }}px; 
                                    height: {{ upper|yesno:"upper_height,lower_height" }}px; 
                                    margin-bottom: {{ upper|yesno:"0,"|add:lower_margin_top }}px;">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
