{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Tracker</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%  static 'web_app/style.css' %}">
    <link rel="apple-touch-icon" href="{% static 'web_app/budget.jpg' %}">
</head>
<body>

<div class="container text-center">
    {%  if messages %}
        <ul class="list-group">
            {%  for message in messages %}
                <li class="list-group-item alert alert-success">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Money Tracker</h1>
    {% block content %}
    {% endblock %}
</div>


</body>
</html>