{%  extends 'web_app/base.html' %}

{% block content %}
    {%  if money_color == 'GREEN'  %}
<h2 class="text-dark jumbotron bg-success">${{ money_left }}</h2>
    {% elif money_color == 'RED' %}
    <h2 class="text-dark jumbotron bg-danger">${{ money_left }}</h2>
    {%  else %}
        <h2 class="text-dark jumbotron bg-warning">${{ money_left }}</h2>

{% endif %}
        <hr>
    <form method="post" action="{% url 'new-expense' %}">
        {%  csrf_token %}
            <select name="expense_type">
              {% for value, text in expense_types %}
                  <option class="dropdown-item" value="{{ value }}">{{ text }}</option>
              {% endfor %}
            </select>
            <select name="payment_type">
                {% for value, text in payment_types %}
                    <option class="dropdown-item" value="{{ value }}">{{ text }}</option>
                {% endfor %}
            </select>
                <input class="form-control" type="tel" placeholder="Add New Expense AMOUNT" step="0.01" min="0" name="amount" required>
                <input class="btn btn-info form-control" type="submit" value="Add New Expense">
            </div>
        </div>
    </form>
    <br><br>
    <hr>
    <ul class="list-group">
        {%  for expense in cycle_expenses %}
            <li class="list-group-item list-group-item-action">
{#                <a href="{% url 'update-expense' pk=expense.pk %}">Update</a>#}
                <form  method="post" action="{% url 'update-expense' %}">
                    {%  csrf_token %}
                    <div class="form-group">
                        <div class="form-text">{{ expense.date_created }}</div>
                        <div class="form-text">{{ expense.get_expense_type_display }}</div>
                        <div class="form-text">{{ expense.get_payment_type_display }}</div>
                        <input type="hidden" name="pk" value="{{ expense.pk }}">
                        <input class="form-control" type="tel" placeholder="{{ expense.amount }}" step="0.01" min="0" name="amount" required>

                    </div>

                    <div class="form-group">
                        <input class="btn btn-info form-control" type="submit" value="Update Expense">
                         <a class="btn btn-danger form-control mt-1" href="{% url 'delete-expense' expense.pk %}" onclick="return confirm('Are you sure you want to delete this expense?');">Delete Expense</a>
                    </div>


                </form>
            </li>
        {% endfor %}
    </ul>

{%  endblock %}